<ion-content [fullscreen]="true">
  <div class="imagem-fundo">
    <ion-header [translucent]="true">
      <ion-row>
        <ion-col size="4" class="navigation">
          <img src="../../assets/img/logo cópia.png" width="100px">
        </ion-col>
        <ion-col size="2" class="navigation">
          <a routerLink="#">Home</a>
        </ion-col>
        <ion-col size="2" class="navigation">
          <a routerLink="#">Cardápio</a>
        </ion-col>
        <ion-col size="2" class="navigation">
          <a routerLink="#">Termos</a>
        </ion-col>
        <ion-col size="2" class="navigation">
          <ion-button class="btnLogin">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-header>

    <div class="wrapper">
      <ion-icon class="icon-close" name="close" (click)="onIconCloseClick()"></ion-icon>
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#" (ngSubmit)="onLoginClick()">
          <div class="input-box">
            <ion-icon class="icon" name="mail"></ion-icon>
            <ion-input name="email" type="email" required></ion-input>
            <ion-label>Email</ion-label>
          </div>
          <div class="input-box">
            <ion-icon class="icon" name="lock-closed"></ion-icon>
            <ion-input name="password" type="password" required></ion-input>
            <ion-label>Password</ion-label>
          </div>
          <ion-button type="submit">Submit</ion-button>
        </form>
      </div>
    </div>

  </div>
</ion-content>