<ion-content [fullscreen]="true">
  <div class="imagem-fundo">
    <ion-header [translucent]="true">
      <ion-row>
        <ion-col size="2" class="navigation">
          <img src="../../assets/img/logo cópia.png" width="100px" class="img-logo">
        </ion-col>
        <ion-col></ion-col>
        <ion-col size="1" class="navigation">
          <a routerLink="#">Home</a>
        </ion-col>
        <ion-col size="1" class="navigation">
          <a routerLink="#">Cardápio</a>
        </ion-col>
        <ion-col size="1" class="navigation">
          <a routerLink="#">Termos</a>
        </ion-col>
        <ion-col size="1" class="navigation">
          <ng-container *ngIf="!this.user.conectado">
            <ion-button class="btnLogin" (click)="onBtnPopupClick()">Login</ion-button>
          </ng-container>
          <ng-container *ngIf="this.user.conectado">
            <p>Olá, {{ this.user.nome }}</p>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-header>

    <div class="wrapper">
      <ion-icon class="icon-close" name="close" (click)="onIconCloseClick()"></ion-icon>
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#" (ngSubmit)="onLoginClick()">
          <form #buscar="ngForm" (ngSubmit)="getDados(buscar.value)">

            <div class="input-box">
              <ion-icon class="icon" name="mail"></ion-icon>
              <ion-input ngModel name="email" type="email" fill="solid" label="Email" labelPlacement="floating"
                helperText="Insira um E-mail válido" errorText="E-mail inválido" ngModel email></ion-input>
            </div>

            <div class="input-box">
              <ion-icon class="icon" name="lock-closed"></ion-icon>
              <ion-input ngModel name="password" type="password" fill="solid" label="Senha"
                labelPlacement="floating"></ion-input>
            </div>

            <div class="remmember-forgot">
              <label><ion-checkbox labelPlacement="end"> Lembre-se de mim</ion-checkbox></label>
              <a routerLink="#">Esqueceu a senha?</a>
            </div>

            <ion-button type="submit" class="btn" (click)="onIconCloseClick()">Login</ion-button>
            <div class="login-register">
              <p>Não possui uma conta? <a routerLink="#" class="register" (click)="onRegisterClick()">Cadastrar</a></p>
            </div>

          </form>
        </form>
      </div>


      <div class="form-box register">
        <h2>Cadastro</h2>
        <!-- <form action="#"> -->
        <form #inserir="ngForm" (ngSubmit)="adicionarFuncionarios(inserir.value)">
          <div class="input-box">
            <ion-icon class="icon" name="person"></ion-icon>
            <ion-input ngModel name="nome" fill="solid" label="Nome" labelPlacement="floating"></ion-input>
          </div>
          <!-- type="email" fill="solid" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" -->

          <div class="input-box">
            <ion-icon class="icon" name="mail"></ion-icon>
            <ion-input ngModel name="email" type="email" fill="solid" label="Email" labelPlacement="floating"
              helperText="Insira um E-mail válido" errorText="E-mail inválido" ngModel email></ion-input>
          </div>

          <div class="input-box">
            <ion-icon class="icon" name="lock-closed"></ion-icon>
            <ion-input ngModel name="password" type="password" fill="solid" label="Senha"
              labelPlacement="floating"></ion-input>
          </div>

          <div class="remmember-forgot">
            <label><ion-checkbox labelPlacement="end">Eu aceito os termos e condiçoes</ion-checkbox></label>
          </div>

          <ion-button type="submit" class="btn">Cadastrar</ion-button>
          <div class="login-register">
            <p>Já possui uma conta? <a routerLink="#" class="register" (click)="onLoginClick()">Login</a></p>
          </div>
        </form>
        <!-- </form> -->
      </div>

    </div>

    <ion-row class="ion-justify-content-center conteudo-top">
      <ion-col size="8" class="ion-text-center">
        <div class="conteudo-text">
          <h1 class="text-title-top ion-text-uppercase">Delicie-se com uma explosão de sabores </h1>
          <p class="text-title-second">Explore nosso site e descubra um mundo de sabores! Navegue em nosso cardápio,
            faça reservas, e mantenha-se atualizado com ofertas especiais e eventos emocionantes. Sua jornada
            gastronômica começa aqui.</p>
          <ion-button shape="round">VER CARDAPIO</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card_sobrenos">
          <h2>Sobre Nós</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In inventore, est consectetur earum asperiores commodi adipisci eveniet quisquam, esse perferendis nemo aliquid totam dolor quos molestiae culpa? Libero, iste repellendus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit sunt, soluta dolore quia quisquam libero nam ex laborum delectus similique, vitae necessitatibus distinctio! Voluptate libero fuga non id omnis optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque commodi at, ad veritatis est eum asperiores laborum sequi perspiciatis quasi? Accusantium minus officia rem! Reprehenderit, facere nam! Earum, iure magni!</p>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <img src="../../assets/img/img sobre nos.jpeg" class="img_sobrenos">
        <img src="../../assets/img/img erva sobre nos.jpeg" class="img_erva_sobrenos">
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col class="card_sobre">
        <ion-card>
          <img src="../../assets/img/img foto sobre.jpg" class="card_img">
          <h2>Sub-Title</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, esse qui sit cupiditate obcaecati fugiat temporibus odio aliquid voluptatibus perspiciatis explicabo molestiae vero libero unde exercitationem saepe nesciunt. Eius, eveniet?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem inventore obcaecati, illo earum, aut, libero at sapiente nostrum enim nesciunt perspiciatis quas hic quibusdam dolor ullam ipsam deleniti pariatur consequuntur!
          Dolores, quod doloremque! Quisquam architecto harum facere fuga ab placeat. Quo soluta odit, repellat facilis vel veritatis voluptatum recusandae mollitia porro magni ducimus consequatur! Doloribus consequatur numquam aliquam maxime vero.</p>
        </ion-card>
      </ion-col>
      <ion-col class="card_sobre_elevado">
        <ion-card>
          <img src="../../assets/img/img foto sobre1.jpg" class="card_img">
          <h2>Sub-Title</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, esse qui sit cupiditate obcaecati fugiat temporibus odio aliquid voluptatibus perspiciatis explicabo molestiae vero libero unde exercitationem saepe nesciunt. Eius, eveniet?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem inventore obcaecati, illo earum, aut, libero at sapiente nostrum enim nesciunt perspiciatis quas hic quibusdam dolor ullam ipsam deleniti pariatur consequuntur!
          Dolores, quod doloremque! Quisquam architecto harum facere fuga ab placeat. Quo soluta odit, repellat facilis vel veritatis voluptatum recusandae mollitia porro magni ducimus consequatur! Doloribus consequatur numquam aliquam maxime vero.</p>
        </ion-card>
      </ion-col>
      <ion-col class="card_sobre">
        <ion-card>
          <img src="../../assets/img/img foto sobre.png" class="card_img">
          <h2>Sub-Title</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, esse qui sit cupiditate obcaecati fugiat temporibus odio aliquid voluptatibus perspiciatis explicabo molestiae vero libero unde exercitationem saepe nesciunt. Eius, eveniet?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem inventore obcaecati, illo earum, aut, libero at sapiente nostrum enim nesciunt perspiciatis quas hic quibusdam dolor ullam ipsam deleniti pariatur consequuntur!
          Dolores, quod doloremque! Quisquam architecto harum facere fuga ab placeat. Quo soluta odit, repellat facilis vel veritatis voluptatum recusandae mollitia porro magni ducimus consequatur! Doloribus consequatur numquam aliquam maxime vero.  </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-footer>
    <div class="footer-top">
      <ion-row class="ion-justify-content-center">
        <ion-col size="" class="col-footer-1 ion-text-start">
          <img src="../../assets/img/icons usado no footer/hamburguer footer.png" alt="hambueguer" width="300px">
        </ion-col>
        <ion-col size="2" class="col-footer-2 ion-text-center">
          <ion-row>
            <ion-col size="12">
              <h2>Fale Conosco</h2>
            </ion-col>
            <ion-col size="12">
              <img src="../../assets/img/icons usado no footer/whatsapp cópia.png" alt="logo whatssap" width="25px" class="img-footer">
              <ion-label>(15)99999-9999</ion-label>
            </ion-col>
            <ion-col size="12">
              <img src="../../assets/img/icons usado no footer/e-mail cópia.png" alt="email" width="25px">
              <ion-label>flavor.fleet@gmail.com</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2" class="col-footer-3 ion-text-center">
          <ion-row>
            <ion-col size="12">
              <h2>Institucional</h2>
            </ion-col>
            <ion-col size="12">
              <ion-label>Home</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-label>Sobre</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-label>Contato</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2" class="col-footer-4 ion-text-center">
          <ion-row>
            <ion-col size="12">
              <h2>O que Procura ?</h2>
            </ion-col>
            <ion-col size="12">
              <ion-label>Combos</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-label>Promoções</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3" class="col-footer-5 ion-text-center">
          <ion-row>
            <ion-col size="12">
              <h2>Onde nos encontrar?</h2>
            </ion-col>
            <ion-col size="6" class="ion-text-end">
              <img src="../../assets/img/icons usado no footer/instagram cópia.png" alt="logo instagram" width="25px">
            </ion-col>
            <ion-col size="6" class="ion-text-start">
              <img src="../../assets/img/icons usado no footer/whatsapp cópia.png" alt="logo whatssap" width="25px">
            </ion-col>
            <ion-col size="12" class="ion-text-end">
              <img src="../../assets/img/icons usado no footer/footer hamburguer.png" alt="hambueguer" width="200px">
            </ion-col>
          </ion-row>
        </ion-col>    
      </ion-row>
    </div>
    <div class="footer-bottom">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center text-footer">
          <ion-label class="ion-margin-top">&copy; Flavor Fleet 2023. Todos os direitos reservados</ion-label>
        </ion-col>
      </ion-row>
    </div>
  </ion-footer>

</ion-content>
